/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
html{
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    min-height:100%;
    position:relative;
    padding-bottom: 40px;
    width: 100%;

}
/* #nav{
    height: px;
} */

.logo{
    width: 50px;
    height: 50px;
}
body{
    margin:0;
    padding:0;
    height:100%;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height : 40px;
    margin: 10 10px 0 10px;
    color: whitesmoke;
}
footer{
    background-color: rgb(66, 70, 73);
    border-top-color: rgb(51, 51, 51);
    position:absolute;
    bottom : 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height : 40px;
    padding: 10px;
    color: whitesmoke;
}

.site-content{
    height: 100%;
}

#btn-links{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f8f8f8;;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0.5rem;
    padding: 2px 16px 2px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
}

#btn-links:hover{
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6; */
    color: #222;
    font-weight: bold;

}

#contact a{
    text-decoration:  none;
    color: inherit;
}

.header-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#222;
}

.header-row h1{
    font-family: josefin sans,sans-serif;
    color: #c9c9c9;
    font-size: 80px;
    letter-spacing: 10px;
    margin: 0;
    font-weight: 600;
}
.header-row h1 span{
    color: #222;
    text-shadow: 1px 1px 0 #c9c9c9,-1px -1px 0 #c9c9c9;
}